body {
    font-family: Arial, sans-serif;
    background-color: #2E3B55;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F0F0F0;
    color: black;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    width: 65%;
}

.form_seperator {
    display: flex;
    align-items: center;
    margin-block-start: .5rem;
}

form {
    padding: 1.25rem;

}

label {
    font-weight: bold;
    width: 6.25rem;
    margin-inline-end: 6.25rem;
}

input.textfield {
    width: 18.75rem;
    padding: 0.313rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
}

input.checkbox {
    width: 1.25rem;
    height: 1.25rem;
}

button {
    padding-inline: 1.5rem;
    padding-block: .2rem;
    margin-block-start: .5rem;
    color: black;
    border: none;
    border-radius: 0.313rem;
    border: 0.063rem solid rgb(101, 100, 100);
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(177, 174, 174);
}


/* Styling för div */
#emptyDiv {
    margin-top: 1.25rem;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    color: gray;
}
